/* Contact.module.css */

.contactCard {
    height: 150px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-radius: 8px;
    background-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    transition: box-shadow 0.3s ease;
}

.contactCard:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 1);
    /* Hover efektiyle gölgeyi artır */
}
.wrapper{
    display:flex;
    flex-direction: column;
    gap:20px;
}
.contactInfo {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.contactName,
.contactNumber {
    display: flex;
    align-items: center;
    margin: 5px 0;
    font-size: 1rem;
    color: var(--text-color);
}

.icon {
    margin-right: 10px;
    color: #4b2d8d;
    /* Mor ikon rengi */
}

.buttonContainer {
    display: flex;
    gap: 10px;
}

.editButton,
.deleteButton,
.saveButton {
    background-color: #4b2d8d;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: background-color 0.3s ease;
}

.editButton:hover,
.deleteButton:hover,
.saveButton:hover {
    background-color: #3a226b;
    /* Daha koyu mor renk */
}

.editContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.editInput {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    /* Açık gri arka plan */
}

.saveButton {
    align-self: flex-start;
    /* Save butonunu sola hizala */
}